@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BARRA DE NAVEGACIÓN MÁS LOGO */
#header {
    background-color: rgb(45, 45, 151);
    color: white;
    padding: 30px;
    height: 100px;
    width: 100%;
    display: grid;
    grid-column-gap: 15px;
    align-items: center;
}


.logo {
    grid-area: 1 / 1 / 2 / 2;
}
.logo-1 {
    font-weight: 400;
    top: 20px;
    text-decoration: none;
    display: block;
    position: absolute;
    color: white;
    font-size: xx-large;
}

nav {
    display: none;
}

.nav {
    float: right;
    grid-area: 1 / 4 / 2 / 5;
}

ul,
ol {
    list-style: none;
    display: flex;
}


.nav li a {
    color: #fff;
    text-decoration: none;
    padding: 30px;
}

.nav li a:hover {
    background-color: rgba(255, 255, 255, 0.301);
}



/* CALL */
.call {
    background-size: cover;
    height: 400px;
    background-position: center;
}

.callIndex {
    background-image: url(./imagenes/fotomain.jpg);
}

.callServices {
    background-image: url(./imagenes/servicios.jpeg);
}

.callText {
    position: absolute;
    top: 250px;
    width: 40%;
    right: 0;
    background-color: rgba(46, 46, 131, 0.589);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(78, 78, 131, 0.712);
    padding: 10px;
}

.callText p {
    font-weight: 600;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

/* Section mail/download */

.sectionMail {
    height: 50vh;
    width: 100%;
    padding: 10px 5px 50px;
    margin-top: 20px;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}

.sectionMail h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.sectionMail p {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.sectionMailButton {
    margin-top: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.sectionMailButton a {
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    height: 40px;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);
    background-blend-mode: soft-light, screen;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.589);
}

.sectionMailButtonBlue {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #1250ca 100%, #a2b6df 100%);
}

.sectionMailLower p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 12vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}

.buttonBlue {
    font-weight: bold;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #1250ca 100%, #a2b6df 100%);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    padding: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline-flex;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.527);
}

/* Section BOX */


.sectionBox {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    justify-items: center;
    margin-top: 50px;
}

.box {
    padding: 10px;
    width: 60%;
    height: 100%;
    background-color: rgb(211, 210, 210);
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

.box h2 {
    margin-bottom: 15px;
}

.boxButton {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box a {
    display: inline-block;
    height: 100%;
    color: black;
    text-decoration: none;
    background-color: rgb(175, 175, 175);
    padding: 8px;
    font-weight: bold;
    border-radius: 2px;
    transition: 0.5s;
}

.box a:hover {
    background-color: rgb(119, 119, 119);
}

.box p {
    font-size: 14px;
}


/* BUTTON Contact*/

.buttonContact {
    height: 40px;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
}


.buttonContact a {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    background-color: #1250ca;
    display: inline-block;
    color: white;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(92, 92, 92, 0.589);
    text-transform: uppercase;
}

.buttonContact2 {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}


.buttonContact2 a {
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
    width: 15%;
    background-color: #1250ca;
    display: inline-block;
    color: white;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(92, 92, 92, 0.589);
    text-transform: uppercase;
}

.buttonContact2QuienesSomos a {
    width: 30%;
}

/* MAIN */
.main {
    margin-top: 50px;
}

.mainQuienesSomos {
    margin-bottom: 100px;
}

.main-div {
    height: 100%;
    display: grid;
    background-color: #DCD9D4;
    align-items: center;
    padding: 20px;
}

.main-divQuienesSomos {
    grid-column-gap: 30px;
    grid-row-gap: 0;
    background-color: unset;
    padding: 0;
}

.main-divServices {
    padding: 0;
    max-width: 1600px;
}

.main-div-1 {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 50px;
}

.main-div-1Services {
    grid-area: 1 / 1 / 3 / 2;
    height: 300px;
    text-align: left;
    display: inline-table;
}

.main-div-1QuienesSomos {
    width: 700px;
    padding-left: 0;
}

.main-div-1 h2 {
    margin-bottom: 5px;
}

.main-div-1QuienesSomos h2 {
    background-color: rgb(45, 45, 151);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 27px;
    padding: 10px;
    width: 300px;
    color: white;
    margin-bottom: 0;
}

.main-div-1 p {
    margin-bottom: 10px;
}

.main-div-1QuienesSomos p {
    margin-top: 30px;
    font-size: 15px;
    padding-left: 10px;
    width: 100%;
    color: rgb(36, 36, 36);
    font-weight: 400;
    margin-bottom: 0;
}

.main-div-1Services p {
    font-size: 12px;
}

.input-main {
    padding: 1px;
    width: 300px;
}

.main-div-2 {
    grid-area: 1 / 5 / 1 / 6;
    width: 300px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #c4bfb9;
    padding-top: 20px;
}

.main-div-2Services {
    grid-area: 1 / 2 / 3 / 3;
    width: 40%;
    align-items: center;
    background-color: unset;
}

.main-div-2QuienesSomos {
    grid-area: 1 / 4 / 2 / 4;
}

.main-div-3 {
    display: none;
}

/* ENVIAR MAIN */

.main-enviar a {
    background-color: #c2c2c2;
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-flex;
    height: 100%;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

/* FOOTER */
footer {
    margin-top: 30px;
    color: white;
    padding: 15px;
    font-size: 10px;
    text-align: center;
    background-color: #0c3483;
}

/* media querys */

@media (max-width: 720px) {

    /* BARRA DE NAVEGACIÓN MÁS LOGO */

    #header {
        height: 70px;
    }

    ul {
        display: none;
    }

    input:checked~ul {

        display: block;
    }

    nav {
        display: block;
    }

    input {
        display: none;
    }

    label {
        align-items: center;
        float: right;
        box-sizing: border-box;
        display: block;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }


    /* Estilo del boton cuando el menú está expandido*/
    input:checked~label {
        background: black;
    }

    ul {
        z-index: 3;
        float: right;
        margin-top: 0;
        padding: 0;
        width: 200px;

    }

    li {
        text-decoration: none;
        display: block;
        background: rgba(115, 98, 211, 0.822);
        margin: 0;
        padding: 10px;
        list-style: none;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
    }

    nav ul li a:hover {
        background-color: #f3f3f3;
    }

    nav ul {
        position: relative;
        z-index: 50;
    }

    .callText {
        position: absolute;
    }

    /*Estilo cuando el mouse pasa encima de cada link del menu*/
    li:hover {
        filter: brightness(110%);
    }

    .nav {
        display: none;
        overflow: hidden;
    }

    .logo-1 {
        left: 15px;
        font-size: xx-large;
    }

    /* CALL */
    .call {
        height: 200px;
        margin-bottom: -40px;
    }

    .callText {
        top: 15%;
        width: 50%;
        height: 10vh;
        right: 0;
    }

    .callText p {
        font-size: 9px;
        text-align: center;
        display: block;
        box-sizing: border-box;
        padding: 2px;
    }

    /* Section mail/download */
    .main-div {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .main-divQuienesSomos {
        flex-wrap: nowrap;
        align-content: center;
    }

    .main-div-1QuienesSomos h2 {
        font-size: 16px;
        text-align: left;
        width: 60%;
    }

    .input-main {
        width: 100%;
    }

    .main-enviar a {
        margin: 0;
    }


    .main-div-1 {
        padding: 0;
        font-size: 0.5em;
        text-align: center;
        margin: 0;
    }

    .main-div-1QuienesSomos {
        width: 100%;
    }

    .main-div-1QuienesSomos p {
        padding: 20px;
        font-size: 12px;
        background-color: lightgray;
    }



    .main-div-1Services h2 {
        margin-left: -15px;
        width: 55%;
        color: white;
        background-color: #0c3483;
        font-size: 2em;
    }

    .main-div-2 {
        grid-area: auto;
        padding: 20px;
        margin-bottom: 20px;
    }

    .main-div-2Services {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        padding: 0;
    }


    .img-ytb {
        width: 300px;
        height: auto;
    }

    .main-div-1 h2 {
        margin-top: 15px;
    }

    .main-enviar a {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .sectionBox {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
    }

    .box {
        width: 100%;
        margin-bottom: 10px;
    }

    .buttonContact2 a {
        width: 50%;
    }
    .main-div-2QuienesSomos{
        display: none;
    }

    .main-div-3QuienesSomos {
        margin-top: 15px;
        display: block;
    }
}